@model IEnumerable<BaseballCalcASP.Models.Player>

@{
    ViewData["Title"] = "Players";
}
<p>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<input id="q" name="q" type="search" placeholder="Search" onkeyup="updatetable()" />
<table id="qtable" class="table">
    <thead style="user-select:none;">
        <tr>
            <th>
                <p>@Html.DisplayNameFor(model => model.Name)</p>
            </th>
            <th>
                <p>Leeftijd</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Team.Name)</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <p>@(DateTime.Now.Year - item.DOB.Year)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td style="user-select:none;">
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">| Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id"> | Delete</a>
                }
                <a asp-controller="Seasons" asp-action="Index2" asp-route-id="@item.Id"> | Seasons</a>
                </td>
        </tr>
}
    </tbody>
 </table>
<script>
    function updatetable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("q");
        filter = input.value;
        table = document.getElementById("qtable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.innerText.split(' ')[0];
                if (txtValue.indexOf(filter) > -1 && txtValue.startsWith(filter)) {
                    tr[i].style.display = "";
                } else {
                    console.log(txtValue.indexOf(filter) + " ; " + txtValue + " ; " + filter + " ; " + txtValue.startsWith(filter))
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>