@model IEnumerable<BaseballCalcASP.Models.Player>

@{
    ViewData["Title"] = "Players";
}
<p style="user-select:none;"><a asp-action="Create">Create New</a></p>
<table class="table">
    <thead style="user-select:none;">
        <tr>
            <th>
                <p>@Html.DisplayNameFor(model => model.Name)</p>
            </th>
            <th>
                <p>Leeftijd</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Team.Name)</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <p>@(DateTime.Now.Year - item.DOB.Year)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td style="user-select:none;">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Seasons" asp-action="Index" asp-route-id="@item.Id">Seasons</a>
            </td>
        </tr>
}
    </tbody>
 </table>
