@model IEnumerable<BaseballCalcASP.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>

<input id="q" name="q" type="search" placeholder="Search" onkeyup="updatetable()" />
<table id="qtable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPlayers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPlayers)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">| Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id"> | Delete</a>
                    <a asp-action="AddPlayer" asp-route-id="@item.Id">Add Player</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function updatetable() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("q");
        filter = input.value;
        table = document.getElementById("qtable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.innerText.split(' ')[0];
                if (txtValue.indexOf(filter) > -1 && txtValue.startsWith(filter)) {
                    tr[i].style.display = "";
                } else {
                    console.log(txtValue.indexOf(filter) + " ; " + txtValue + " ; " + filter + " ; " + txtValue.startsWith(filter))
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>