@model BaseballCalcASP.Models.Season

@{
    ViewData["Title"] = "Details";
}
<style>
    row {
        display:flex;
        flex-direction:row;
        gap: 15px;
    }

    column {
        display: flex;
        flex-direction: column;
        border: 1px solid #dee2e6;
        border-radius: 15px;
        padding: 10px;
        height: fit-content;
    }
    p:empty {
        display:none;
    }
    .container {
        max-width: unset;
        margin: unset;
    }
    .middle-column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .middle-column > div > * {
        flex: 1 0 200px;
        border: 1px solid #dee2e6;
        border-radius: 15px;
        padding: 10px;
    }
    .middle-column > div {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
</style>

<h1>Details</h1>

<div>
    <row>
        @{
            Season season = Model;
            float atbats = season.PlateAppearences - (season.BaseOnBalls + season.HitByPitch + season.SacrificeFlies + season.SacrificeHits); //, interference, or obstruction
            float obp = (season.Hits + season.BaseOnBalls + season.HitByPitch) / (atbats + season.BaseOnBalls + season.HitByPitch + season.SacrificeFlies);
            float totalbases = season.Singles + 2 * season.Doubles + 3 * season.Triples + 4 * season.HomeRuns;
            float sluggingavg = totalbases / atbats;
        }
        <column>
            <p><h4>@Html.DisplayNameFor(seasonItem => season.PlayerKey)</h4>@season.PlayerKey</p>
            <p><h4>@Html.DisplayNameFor(seasonItem =>season.GamesPlayed)</h4>@season.GamesPlayed</p>
            <p><h4>@Html.DisplayNameFor(seasonItem => season.Year)</h4>@season.Year</p>
        </column>
        <column class="middle-column">
            <h1>Hitting Stats</h1>
            <div>
                <div>
                    <h4>Total Avg</h4>
                    <span>@Math.Round((totalbases + season.BaseOnBalls + season.StolenBases) / (season.PlateAppearences + season.CaughtStealing), 2)</span>
                </div>
                <div>
                    <h4>Slugging</h4>
                    <span>@Math.Round(sluggingavg, 2)</span>
                </div>
                <div>
                    <h4>Batting Avg</h4>
                    <span>@Math.Round(season.Hits / atbats, 3)</span>
                </div>
                <div>
                    <h4>At Bats</h4>
                    <span>@atbats</span>
                </div>
                <div>
                    <h4>Hits</h4>
                    <span>@Html.DisplayFor(seasonItem => season.Hits)</span>
                </div>
                <div>
                    <h4>Strikeouts</h4>
                    <span>@Html.DisplayFor(seasonItem => season.HStrikeOuts)</span>
                </div>
                <div>
                    <h4>Base On Balls</h4>
                    <span>@Html.DisplayFor(seasonItem => season.BaseOnBalls)</span>
                </div>
                <div>
                    <h4>Hit By Pitch</h4>
                    <span>@Html.DisplayFor(seasonItem => season.HitByPitch)</span>
                </div>
                <div>
                    <h4>Base On Balls / Strikeouts</h4>
                    <span>@(Math.Round((double)(season.BaseOnBalls / season.HStrikeOuts), 2))</span>
                </div>
                <div>
                    <h4>Total Bases</h4>
                    <span>@totalbases</span>
                </div>
                <div>
                    <h4>Singles</h4>
                    <span>@Html.DisplayFor(seasonItem => season.Singles)</span>
                </div>
                <div>
                    <h4>Doubles</h4>
                    <span>@Html.DisplayFor(seasonItem => season.Doubles)</span>
                </div>
                <div>
                    <h4>Triples</h4>
                    <span>@Html.DisplayFor(seasonItem => season.Triples)</span>
                </div>
                <div>
                    <h4>Home Runs</h4>
                    <span>@Html.DisplayFor(seasonItem => season.HomeRuns)</span>
                </div>
                <div>
                    <h4>On Base Percentage</h4>
                    <span>@Math.Round(obp, 2)</span>
                </div>
                <div>
                    <h4>On Base Plus Slugging</h4>
                    <span>@Math.Round((obp + sluggingavg), 2)</span>
                </div>
                <div>
                    <h4>Stolen Bases</h4>
                    <span>@Html.DisplayFor(seasonItem => season.StolenBases)</span>
                </div>
                <div>
                    <h4>Caught Stealing</h4>
                    <span>@Html.DisplayFor(seasonItem => season.CaughtStealing)</span>
                </div>
            </div>
        </column>
        <column>
            <h1>Pitching Stats</h1>
            <p><h4>Strikeouts</h4> @Html.DisplayFor(seasonItem => season.PStrikeOuts)</p>
        </column>
    </row>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
